# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!target/maven-archiver/pom.properties
!.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Git
.git/
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# 其他
README.md